/* @settings
name: Gruvbox Material Color Overrides
id: gruvbox-material-theme-override
settings:
  - id: section-dark
    title: Dark Theme
    type: heading
    level: 2
    collapsed: true

  - id: dark-text
    title: Dark Text
    type: variable-color
    format: rgb
    default: '#654735'
			
  - id: dark-text-faint
    title: Dark Text Faint
    type: variable-color
    format: rgb
    default: '#b37e5d'
			
  - id: dark-text-muted
    title: Dark Text Muted
    type: variable-color
    format: rgb
    default: '#73513c'
	
  - id: dark0-hard
    title: Dark 0 Hard
    type: variable-color
    format: rgb
    default: '#1d2021' 
	
  - id: dark0
    title: Dark 0
    type: variable-color
    format: rgb
    default: '#282828'

  - id: dark0-soft
    title: Dark 0 Soft
    type: variable-color
    format: rgb
    default: '#282828'
	
  - id: dark1
    title: Dark 1
    type: variable-color
    format: rgb
    default: '#3c3836'
	
  - id: dark2
    title: Dark 2
    type: variable-color
    format: rgb
    default: '#504945'
	
  - id: dark3
    title: Dark 3
    type: variable-color
    format: rgb
    default: '#665c54'
	
  - id: dark4
    title: Dark 4
    type: variable-color
    format: rgb
    default: '#7c6f64'
	
  - id: section-light
    title: Light Theme
    type: heading
    level: 2
    collapsed: true
	
  - id: light-text
    title: Light Text
    type: variable-color
    format: rgb
    default: '#d4be98'
			
  - id: light-text-faint
    title: Light Text Faint
    type: variable-color
    format: rgb
    default: '#b37e5d'
			
  - id: light-text-muted
    title: Light Text Muted
    type: variable-color
    format: rgb
    default: '#73513c'
	
  - id: light0-hard
    title: Light 0 Hard
    type: variable-color
    format: rgb
    default: '#f9f5d7' 
	
  - id: light0
    title: Light 0
    type: variable-color
    format: rgb
    default: '#fbf1c7'

  - id: light0-soft
    title: Light 0 Soft
    type: variable-color
    format: rgb
    default: '#f2e5bc'

  - id: light1
    title: Light 1
    type: variable-color
    format: rgb
    default: '#ebdbb2'
	
  - id: light2
    title: Light 2
    type: variable-color
    format: rgb
    default: '#d5c4a1'
	
  - id: light3
    title: Light 3
    type: variable-color
    format: rgb
    default: '#bdae93'
	
  - id: light4
    title: Light 4
    type: variable-color
    format: rgb
    default: '#a89984'
	
  - id: section-general
    title: General Colors
    type: heading
    level: 2
    collapsed: false
	
  - id: gray
    title: Gray
    type: variable-color
    format: rgb
    default: '#928374'	
	
  - id: section-general-neutral
    title: Neutral Colors
    type: heading
    level: 3
    collapsed: false

  - id: neutral-red
    title: Red
    type: variable-color
    format: rgb
    default: '#ea6962'	
	
  - id: neutral-green
    title: Green
    type: variable-color
    format: rgb
    default: '#a9b665'	
	
  - id: neutral-yellow
    title: Yellow
    type: variable-color
    format: rgb
    default: '#e78a4e'	
	
  - id: neutral-blue
    title: Blue
    type: variable-color
    format: rgb
    default: '#7daea3'	
	
  - id: neutral-purple
    title: Purple
    type: variable-color
    format: rgb
    default: '#d3869b'	
	
  - id: neutral-aqua
    title: Aqua
    type: variable-color
    format: rgb
    default: '#89b482'	
	
  - id: section-general-faded
    title: Faded Colors
    type: heading
    level: 3
    collapsed: false

  - id: faded-red
    title: Red
    type: variable-color
    format: rgb
    default: '#c14a4a'	
	
  - id: faded-green
    title: Green
    type: variable-color
    format: rgb
    default: '#6c782e'	
	
  - id: faded-yellow
    title: Yellow
    type: variable-color
    format: rgb
    default: '#c35e0a'	
	
  - id: faded-blue
    title: Blue
    type: variable-color
    format: rgb
    default: '#45707a'	
	
  - id: faded-purple
    title: Purple
    type: variable-color
    format: rgb
    default: '#945e80'	
	
  - id: faded-aqua
    title: Aqua
    type: variable-color
    format: rgb
    default: '#4c7a5d'	
*/	
